body {
  font-family: "Arial", sans-serif;
  background-color: #e9ecef;
  padding: 20px;
}

#container {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn-grp {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.btn-primary {
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #2563eb;
}
.btn-success {
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #16a34a;
}

#display {
  font-size: 24px;
  margin-top: 10px;
}
